ion-toolbar {
	--background: var(--ion-color-travel);
	text-align: center;
	color: var(--ion-color-travel-contrast);
}
.action-sheet-button.sc-ion-action-sheet-ios .action-sheet-icon.sc-ion-action-sheet-ios {
	margin-left: 25%;
}
.action-sheet-button-inner.sc-ion-action-sheet-ios {
	justify-content: left;
}
