ion-footer ion-toolbar {
	--background: transparent;
	padding: 50px;
}

ion-button {
	--background: var(--ion-color-primary);
	width: 35%;
	margin: auto;
	height: 50px;
}

ion-header ion-buttons {
	float: left;
	position: absolute;
}
/* 
ion-content {
	--padding-start: 80px;
	--padding-end: 80px;
	--padding-top: 30px;
} */
