.clear-button {
	--background: transparent;
	--box-shadow: none;
	color: var(--ion-color-primary);
}

.bottom-bar div {
	display: flex;
}

.bottom-bar ion-button {
	width: 35%;
	margin: auto;
}
