ion-footer ion-toolbar {
	--background: #ccc;
}

ion-footer .sc-ion-buttons-md-s .button-clear {
	--background: var(--ion-color-primary);
	width: 35%;
	margin: auto;
}

ion-header ion-buttons {
	float: left;
	position: absolute;
}
